.a-p {
  &_type {
    &_description {
      font-size: 12px;
      line-height: 1.58;
      color: $section-subtitle;
    }

    &_subtitle {
      font-size: 12px;
      line-height: 1.5;
      color: $section-subtitle;
    }
  }
}
