.a-span {
  &_type {
    &_menu-item {
      font-size: 1.8rem;
      letter-spacing: 0.3px;
      color: $menu-link;

      &.active {
        font-weight: 600;
        color: $menu-link-active;
      }
    }

    &_badge {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 2.6rem;
      height: 2.6rem;
      color: $menu-link;
      background-color: $button-background;
    }

    &_table-big {
      font-size: 15px;
      line-height: 18px;
      color: $table-text-black;
    }

    &_table-medium {
      font-weight: 600;
      font-size: 14px;
      color: $basic-text;
    }

    &_table-small {
      font-size: 12px;
      line-height: 15px;
      color: $basic-text;
    }

    &_table-small-bold {
      font-size: 12px;
      color: $table-text-black;
      font-weight: 600;
    }

    &_feed-name {
      font-size: 14px;
      line-height: 17px;
      letter-spacing: 0.5px;
      color: $feed-name;
    }

    &_feed-message {
      font-size: 12px;
      line-height: 15px;
      letter-spacing: 0.4px;
      color: $feed-message;
    }

    &_feed-time {
      font-size: 12px;
      line-height: 15px;
      letter-spacing: 0.4px;
      color: $feed-time;
    }

    &_bold {
      font-weight: 600;
    }
  }
}