.a-colored-percent-value {
  &_type {
    &_normal {
      font-weight: 600;
      font-size: 1.5rem;
      line-height: 1.8rem;
    }
  }

  &_positive {
    &_true {
      color: $table-text-positive-bright;
    }

    &_false {
      color: $table-text-negative;
    }
  }
}