.o-portfolio-results {
  padding: 15px 16px 26px 20px;
  position: relative;

  &__title {
    margin-bottom: 7px;
  }

  &__chart {
    margin-top: 26px;
  }

  &__button {
    position: absolute;
    right: 16px;
    top: 15px;
    padding-top: 13px;
    padding-bottom: 12px;
  }

}