.dashboard {
  display: flex;
  height: 100%;

  &__left {
    flex: 0 0 298px;
    display: flex;
    flex-direction: column;
    padding-top: 21px;
    background-color: #0084c9;
  }

  &__logo {
    width: 166px;
    height: 46px;
    margin: 0 auto;
  }

  &__footer {
    margin-top: auto;
    padding: 19px 0 16px;
    background-color: #0574ae;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.5;
    text-align: center;
    color: #e3e5ea;
  }

  &__right {
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 0 0 1159px;//plus scrollbar width
    max-width: 1159px;
    background-color: #f2f5f8;
  }

  &__header {
    height: 66px;
    background-color: #fff;
  }

  &__widgets {
    flex-grow: 1;
    padding: 17px 0 21px 11px;
    overflow-y: scroll;
    max-height: 100%;
  }
}