.a-table-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.9rem 0 0.9rem;

  $this: &;

  &__bordered {
    border-top: 1px solid $table-border-clear;
    &:last-of-type {
      border-bottom: 1px solid $table-border-clear;
    }
  }

  &_type {
    &_border-clear {
      @extend #{$this}__bordered;
    }

    &_border-blurred {
      border-top: 1px solid $table-border-blurred;
      &:last-of-type {
        border-bottom: 1px solid $table-border-blurred;
      }
    }

    &_border-bg {
      @extend #{$this}__bordered;
      background-color: $table-background;
    }

    &_feed {
      border-bottom: 1.5px solid rgba(6, 81, 120, 0.2);
      padding: 18px 0 12px 0;
    }
  }
}