.a-svg-text {
  &_type {
    &_main {
      font-size: 1.2rem;
      line-height: 1.5rem;
      fill: $basic-text;
    }

    &_bar-chart {
      font-size: 1.3rem;
      line-height: 1.6rem;
      fill: $bar-chart-text;
    }

    &_chart-popup {
      font-size: 12px;
      line-height: 15;
      fill: $chart-popup-text;
    }
  }
}