.o-latest-feeds {
  box-sizing: border-box;
  padding: 14px 19px 14px 20px;
  position: relative;

  &__title {
    margin-bottom: 3px;
  }

  &__link {
    position: absolute;
    right: 18px;
    top: 18px;
  }
}