.a-link {
  cursor: pointer;
  transition: color 0.2s;

  &_type {
    &_card {
      font-size: 14px;
      line-height: 17px;
      color: $link;
      display: inline-block;
      padding-right: 12px;
      padding-bottom: 4px;
      &:after {
        content: '';
        position: absolute;
        right: 0;
        top: 5px;
        width: 5px;
        height: 5px;
        background-color: transparent;
        border-top: 1px solid $link;
        border-right: 1px solid $link;
        transform: rotate(45deg) ;
      }

      &:hover {
        border-bottom: 1px solid rgba(0, 132, 201, 0.64)

      }
    }
  }

  &.disabled {
    pointer-events: none;
  }
}
